In [1]:
import pickle as pkl
import pandas as pd

In [16]:
file = open('suggestions_df2.pkl', 'rb')
df = pkl.load(file)
file.close()

In [17]:
df['Query'] = df['Query'].astype(str)

In [18]:
df.drop(columns=['q_split_join'], inplace = True)
df.head(10)

,AnonID,Query,QueryTime,q_time,q_split,q_length
0,142,merit release appearance,2006-04-22 23:51:18,1.145750e+09,"[merit, release, appearance]",3
1,217,lottery,2006-03-01 11:58:51,1.141214e+09,[lottery],1
2,217,lottery,2006-03-27 14:10:38,1.143469e+09,[lottery],1
3,217,vietnam,2006-05-22 17:43:42,1.148320e+09,[vietnam],1
4,217,vietnam,2006-05-22 18:03:24,1.148321e+09,[vietnam],1
5,1268,gall stones,2006-05-11 02:12:51,1.147314e+09,"[gall, stones]",2
6,1268,gallstones,2006-05-11 02:13:02,1.147314e+09,[gallstones],1
7,1326,files,2006-03-01 17:36:08,1.141235e+09,[files],1
8,1326,pop up adds,2006-03-15 20:07:38,1.142453e+09,"[pop, up, adds]",3
9,1326,pop up adds,2006-03-15 20:08:29,1.142453e+09,"[pop, up, adds]",3

In [5]:
#df['q_split'] = df['Query'].apply(lambda x: str(x).split(' '))

In [11]:
#df['q_split1'] = df['Query'].apply(lambda x: x.split(' '))

In [19]:
file2 = open('suggestions_df2.pkl', 'wb')
pkl.dump(df, file2)
file2.close()