In [9]:
from querysuggestions import get_top_5_simple
import pickle as pkl

In [10]:
df = pkl.load(open('suggestions_df2.pkl', 'rb'))
frequencies = pkl.load(open('frequencies.pkl', 'rb'))

In [11]:
%%time
get_top_5_simple(df, frequencies, 'dog food')

CPU times: user 2.51 s, sys: 344 ms, total: 2.86 s
Wall time: 3.01 s

array(['dog food recipes', 'dog food comparison', 'dog food brands',
       'dog food companies', 'dog food review'], dtype=object)

In [12]:
%%time
get_top_5_simple(df, frequencies, 'cat')

CPU times: user 4.85 s, sys: 72.8 ms, total: 4.92 s
Wall time: 4.93 s

array(['cat health', 'cat breeds', 'cat scan', 'cat names',
       'cat pictures'], dtype=object)

In [ ]:
%%time
get_top_5_simple(df, frequencies, '9')

In [13]:
df['Query'].dtype

dtype('O')

In [8]:
df['Query'].loc[1]

1                        lottery
1    family guy movie references
1                   mail consort
1       indian projectile points
1               property leasing
Name: Query, dtype: object

In [14]:
df.head()

,AnonID,Query,QueryTime,q_time,q_split,q_length
0,142,merit release appearance,2006-04-22 23:51:18,1.145750e+09,"[merit, release, appearance]",3
1,217,lottery,2006-03-01 11:58:51,1.141214e+09,[lottery],1
2,217,lottery,2006-03-27 14:10:38,1.143469e+09,[lottery],1
3,217,vietnam,2006-05-22 17:43:42,1.148320e+09,[vietnam],1
4,217,vietnam,2006-05-22 18:03:24,1.148321e+09,[vietnam],1

In [18]:
df['q_length'].max()

48

In [29]:
for i in range(1,df['q_length'].max()):
    currentNum = len(df[df['q_length'] == i])
    nextNum = len(df[df['q_length'] == i+1])
    if currentNum > 0 and nextNum > 0:
        print(str(i), currentNum)

1 753923
2 1335269
3 896227
4 491534
5 240160
6 114375
7 53051
8 26551
9 13937
10 7419
11 3985
12 2255
13 1238
14 837
15 508
16 386
17 234
18 153
19 93
20 69
21 34
22 22
23 18
24 17
25 15
26 11
27 6
28 11
29 7
30 2
31 2

In [24]:
uniqueWords = set()
def combineSets(row):
    for x in row:
        uniqueWords.add(x)

In [25]:
df[df['q_length'] == 1]['q_split'].apply(lambda row: combineSets(row))

1         None
2         None
3         None
4         None
6         None
7         None
36        None
38        None
39        None
40        None
43        None
49        None
52        None
54        None
55        None
66        None
67        None
68        None
86        None
87        None
88        None
90        None
91        None
92        None
93        None
101       None
114       None
118       None
120       None
121       None
          ...
834251    None
834252    None
834253    None
834257    None
834259    None
834260    None
834261    None
834269    None
834270    None
834273    None
834274    None
834275    None
834276    None
834277    None
834282    None
834288    None
834296    None
834297    None
834298    None
834301    None
834304    None
834311    None
834315    None
834318    None
834319    None
834323    None
834330    None
834342    None
834354    None
834355    None
Name: q_split, Length: 753923, dtype: object

In [26]:
len(uniqueWords)

40197