In [1]:
import pandas as pd
import time
import pickle as pkl
import os.path

## logs

In [2]:
#infile = open('logs.pkl','rb')
#logs = pkl.load(infile)
#infile.close()

In [3]:
#logs = pd.read_csv('clean_log_data_all.txt',delimiter='\t',encoding='utf-8')

In [4]:
#logs.head()

In [5]:
#outfile = open('logs.pkl','wb')
#pkl.dump(logs,outfile)
#outfile.close()

## docs
https://stackoverflow.com/questions/31468117/python-3-can-pickle-handle-byte-objects-larger-than-4gb

In [14]:
docs = pd.read_csv('wikipedia_text_files.csv',delimiter=',',encoding='utf-8')

In [7]:
docs.head()

,content,title,id
0,Morocco–Saudi Arabia relations\n\nMoroccan–Sau...,Morocco–Saudi_Arabia_relations,1
1,Anthony United States Post Office\n\nThe Antho...,Anthony_United_States_Post_Office,2
2,Dumraon (Vidhan Sabha constituency)\n\nDumraon...,Dumraon__Vidhan_Sabha_constituency_,3
3,Chaker Khazaal\n\nChaker Khazaal (born 28 Sept...,Chaker_Khazaal,4
4,Vicente Pascual Pastor\n\nVicente Pascual Past...,Vicente_Pascual_Pastor,5

In [8]:
docs = docs.applymap(str)
docs['content'] = docs[docs['content'].apply(lambda x: type(x)==str)]

In [9]:
def replaceNewline(row):
    try:
        return row.replace('\n', ' ')
    except:
        return row

In [10]:
def replaceUnderscore(row):
    try:
        return row.replace('_', ' ')
    except:
        return row

In [11]:
%%time
docs['content'] = docs['content'].apply(lambda row: replaceNewline(row))

CPU times: user 2.7 s, sys: 1.53 s, total: 4.23 s
Wall time: 4.23 s

In [12]:
%%time
docs['title'] = docs['title'].apply(lambda row: replaceUnderscore(row))

CPU times: user 464 ms, sys: 11.9 ms, total: 475 ms
Wall time: 474 ms

In [13]:
docs.head()

,content,title,id
0,Morocco–Saudi Arabia relations Moroccan–Saudi...,Morocco–Saudi Arabia relations,1
1,Anthony United States Post Office The Anthony...,Anthony United States Post Office,2
2,Dumraon (Vidhan Sabha constituency) Dumraon V...,Dumraon Vidhan Sabha constituency,3
3,Chaker Khazaal Chaker Khazaal (born 28 Septem...,Chaker Khazaal,4
4,Vicente Pascual Pastor Vicente Pascual Pastor...,Vicente Pascual Pastor,5

In [14]:
docs_sample = docs.sample(frac=0.1)
len(docs_sample)

166276

In [15]:
docs.shape
docs.tail()

,content,title,id
1662751,Toppr Toppr is a product of Haygot Education ...,Toppr,1662752
1662752,Outline of education The following outline is...,Outline of education,1662753
1662753,Raell Padamsee Raell Padamsee is an Indian th...,Raell Padamsee,1662754
1662754,Megan Callaway Megan Callaway is a founder of...,Megan Callaway,1662755
1662755,Diane Reay Diane Reay is a sociologist and pr...,Diane Reay,1662756

In [16]:
df1 = docs.iloc[0:166276] # first five rows of dataframe
df2 = docs.iloc[166276:332552]
df3 = docs.iloc[332552:498828]
df4 = docs.iloc[498828:665104]
df5 = docs.iloc[665104:831380]
df6 = docs.iloc[831380:997656]
df7 = docs.iloc[997656:1163932]
df8 = docs.iloc[1163932:1330208]
df9 = docs.iloc[1330208:1496484]
df10 = docs.iloc[1496484:1662756]

In [17]:
#from nltk.tokenize import word_tokenize

#https://www.geeksforgeeks.org/removing-stop-words-nltk-python/
from nltk.tokenize import RegexpTokenizer
tokenizer = RegexpTokenizer(r'\w+')
from nltk.corpus import stopwords 
stop_words = set(stopwords.words('english')) 

#https://pythonspot.com/nltk-stemming/
from nltk.stem import PorterStemmer
ps = PorterStemmer()

from IPython.display import display

def process(content):
    #df = row.to_frame()
    # split documents with tokenizer
    processed = tokenizer.tokenize(content)
    # remove punctuation
    #processed = [token for token in processed if token != ',' and token != '.']
    # remove capitalization
    processed = [token.lower() for token in processed]
    # remove stopwords
    processed = [token for token in processed if token not in stop_words]
    # lemmatize/stem terms
    return [ps.stem(token) for token in processed]

/home/amifaraj/anaconda3/lib/python3.7/site-packages/sklearn/externals/joblib/_multiprocessing_helpers.py:38: UserWarning: [Errno 12] Cannot allocate memory.  joblib will operate in serial mode
  warnings.warn('%s.  joblib will operate in serial mode' % (e,))

## doc1

In [69]:
%%time
df1['processed_content'] = df1['content'].apply(lambda row: process(row))

CPU times: user 15min 7s, sys: 1.05 s, total: 15min 8s
Wall time: 15min 8s

/home/amifaraj/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [70]:
df1.head()

,content,title,id,processed_content
0,Morocco–Saudi Arabia relations Moroccan–Saudi...,Morocco–Saudi Arabia relations,1,"[morocco, saudi, arabia, relat, moroccan, saud..."
1,Anthony United States Post Office The Anthony...,Anthony United States Post Office,2,"[anthoni, unit, state, post, offic, anthoni, u..."
2,Dumraon (Vidhan Sabha constituency) Dumraon V...,Dumraon Vidhan Sabha constituency,3,"[dumraon, vidhan, sabha, constitu, dumraon, vi..."
3,Chaker Khazaal Chaker Khazaal (born 28 Septem...,Chaker Khazaal,4,"[chaker, khazaal, chaker, khazaal, born, 28, s..."
4,Vicente Pascual Pastor Vicente Pascual Pastor...,Vicente Pascual Pastor,5,"[vicent, pascual, pastor, vicent, pascual, pas..."

In [72]:
df1.to_csv(r'doc1.csv')

## doc2

In [21]:
%%time
df2['processed_content'] = df2['content'].apply(lambda row: process(row))

CPU times: user 14min 21s, sys: 936 ms, total: 14min 22s
Wall time: 14min 22s

/home/amifaraj/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
df2.head()

,content,title,id,processed_content
166276,Mario D'Agata Mario D'Agata (29 May 1926 – 4 ...,Mario D Agata,166277,"[mario, agata, mario, agata, 29, may, 1926, 4,..."
166277,Father of the Australian House of Representati...,Father of the Australian House of Representatives,166278,"[father, australian, hous, repres, australian,..."
166278,Li'l Abner (musical) Li'l Abner is a musical ...,Li l Abner musical,166279,"[li, l, abner, music, li, l, abner, music, boo..."
166279,Chalfont &amp; Latimer station Chalfont & Lat...,Chalfont amp Latimer station,166280,"[chalfont, amp, latim, station, chalfont, lati..."
166280,Monty Python's Big Red Book Monty Python's Bi...,Monty Python s Big Red Book,166281,"[monti, python, big, red, book, monti, python,..."

In [23]:
df2.to_csv(r'doc2.csv')

## doc3

In [15]:
%%time
df3['processed_content'] = df3['content'].apply(lambda row: process(row))

CPU times: user 12min 8s, sys: 676 ms, total: 12min 8s
Wall time: 12min 8s

/home/amifaraj/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
df3.head()

,content,title,id,processed_content
332552,Gord Martineau Gord Martineau (born September...,Gord Martineau,332553,"[gord, martineau, gord, martineau, born, septe..."
332553,"Crazy quilting The term ""crazy quilting"" is o...",Crazy quilting,332554,"[crazi, quilt, term, crazi, quilt, often, use,..."
332554,Seesaw mechanism In the theory of grand unifi...,Seesaw mechanism,332555,"[seesaw, mechan, theori, grand, unif, particl,..."
332555,A1086 road The A1086 is a road in County Durh...,A1086 road,332556,"[a1086, road, a1086, road, counti, durham, nor..."
332556,Honor Among Enemies Honor Among Enemies is a ...,Honor Among Enemies,332557,"[honor, among, enemi, honor, among, enemi, sci..."

In [17]:
df3.to_csv(r'doc3.csv')

## doc4

In [21]:
%%time
df4['processed_content'] = df4['content'].apply(lambda row: process(row))

CPU times: user 9min 36s, sys: 608 ms, total: 9min 36s
Wall time: 9min 36s

/home/amifaraj/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
df4.tail()

,content,title,id,processed_content
665099,"Friends for Lesbian, Gay, Bisexual, Transgende...",Friends for Lesbian Gay Bisexual Transgende...,665100,"[friend, lesbian, gay, bisexu, transgend, quee..."
665100,"Bradford Clay Bradford Clay in geology, is a ...",Bradford Clay,665101,"[bradford, clay, bradford, clay, geolog, thin,..."
665101,Jeanne Bowser Jeanne Bowser (born 1981 in Mon...,Jeanne Bowser,665102,"[jeann, bowser, jeann, bowser, born, 1981, mon..."
665102,Hugh Panero Hugh Panero was the CEO of XM Sat...,Hugh Panero,665103,"[hugh, panero, hugh, panero, ceo, xm, satellit..."
665103,CityBird CityBird was an airline founded in 1...,CityBird,665104,"[citybird, citybird, airlin, found, 1996, base..."

In [23]:
df4.to_csv(r'doc4.csv')

## doc5

In [26]:
%%time
df5['processed_content'] = df5['content'].apply(lambda row: process(row))

CPU times: user 8min 54s, sys: 536 ms, total: 8min 55s
Wall time: 8min 55s

/home/amifaraj/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
df5.tail()

,content,title,id,processed_content
831375,Grasă de Cotnari Grasă de Cotnari () is a Rom...,Grasă de Cotnari,831376,"[grasă, de, cotnari, grasă, de, cotnari, roman..."
831376,Albert G. Porter Albert Gallatin Porter (Apri...,Albert G Porter,831377,"[albert, g, porter, albert, gallatin, porter, ..."
831377,Hartmann Lauterbacher Hartmann Lauterbacher (...,Hartmann Lauterbacher,831378,"[hartmann, lauterbach, hartmann, lauterbach, 2..."
831378,Winfield T. Durbin Winfield Taylor Durbin (Ma...,Winfield T Durbin,831379,"[winfield, durbin, winfield, taylor, durbin, m..."
831379,Balmain Australian Football Club Balmain Aust...,Balmain Australian Football Club,831380,"[balmain, australian, footbal, club, balmain, ..."

In [28]:
df5.to_csv(r'doc5.csv')

## doc6

In [18]:
%%time
df6['processed_content'] = df6['content'].apply(lambda row: process(row))

CPU times: user 8min 6s, sys: 465 ms, total: 8min 6s
Wall time: 8min 6s

/home/amifaraj/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
df6.tail()

,content,title,id,processed_content
997651,DNA footprinting DNA footprinting is a method...,DNA footprinting,997652,"[dna, footprint, dna, footprint, method, inves..."
997652,"Nothing Lasts Forever (The Living End song) ""...",Nothing Lasts Forever The Living End song,997653,"[noth, last, forev, live, end, song, noth, las..."
997653,Ludi (comics) Ludi is a fictional character a...,Ludi comics,997654,"[ludi, comic, ludi, fiction, charact, appear, ..."
997654,Karns Karns may refer to:,Karns,997655,"[karn, karn, may, refer]"
997655,"Laurieton, New South Wales Laurieton is a coa...",Laurieton New South Wales,997656,"[laurieton, new, south, wale, laurieton, coast..."

In [20]:
df6.to_csv(r'doc6.csv')

## doc7

In [22]:
%%time
df7['processed_content'] = df7['content'].apply(lambda row: process(row))

CPU times: user 7min 10s, sys: 428 ms, total: 7min 10s
Wall time: 7min 10s

/home/amifaraj/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
df7.tail()

,content,title,id,processed_content
1163927,Randy Hultgren Randall Mark Hultgren (born Ma...,Randy Hultgren,1163928,"[randi, hultgren, randal, mark, hultgren, born..."
1163928,"Clarence Newton Clarence ""Chris"" Newton (Febr...",Clarence Newton,1163929,"[clarenc, newton, clarenc, chri, newton, febru..."
1163929,Volume 2 (Reagan Youth album) Volume 2 is the...,Volume 2 Reagan Youth album,1163930,"[volum, 2, reagan, youth, album, volum, 2, sec..."
1163930,Kalpana Ramesh Narhire Narhire Kalpana Ramesh...,Kalpana Ramesh Narhire,1163931,"[kalpana, ramesh, narhir, narhir, kalpana, ram..."
1163931,Champéry Champéry is a municipality in the di...,Champéry,1163932,"[champéri, champéri, municip, district, monthe..."

In [24]:
df7.to_csv(r'doc7.csv')

## doc8

In [27]:
%%time
df8['processed_content'] = df8['content'].apply(lambda row: process(row))

CPU times: user 6min 43s, sys: 456 ms, total: 6min 44s
Wall time: 6min 43s

/home/amifaraj/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [28]:
df8.tail()

,content,title,id,processed_content
1330203,1967 Academy Awards 1967 Academy Awards may r...,1967 Academy Awards,1330204,"[1967, academi, award, 1967, academi, award, m..."
1330204,1966 Academy Awards 1966 Academy Awards may r...,1966 Academy Awards,1330205,"[1966, academi, award, 1966, academi, award, m..."
1330205,1989 Alpine Skiing World Cup – Women's Giant S...,1989 Alpine Skiing World Cup – Women s Giant S...,1330206,"[1989, alpin, ski, world, cup, women, giant, s..."
1330206,1965 Academy Awards 1965 Academy Awards may r...,1965 Academy Awards,1330207,"[1965, academi, award, 1965, academi, award, m..."
1330207,Spin kit A spin kit is a kit for a sailplane ...,Spin kit,1330208,"[spin, kit, spin, kit, kit, sailplan, make, sp..."

In [29]:
df8.to_csv(r'doc8.csv')

## doc9

In [32]:
%%time
df9['processed_content'] = df9['content'].apply(lambda row: process(row))

CPU times: user 6min 15s, sys: 440 ms, total: 6min 16s
Wall time: 6min 16s

/home/amifaraj/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [33]:
df9.tail()

,content,title,id,processed_content
1496479,Gale–Church alignment algorithm In computatio...,Gale–Church alignment algorithm,1496480,"[gale, church, align, algorithm, comput, lingu..."
1496480,Crystal Gazing Luck Amazing Crystal Gazing Lu...,Crystal Gazing Luck Amazing,1496481,"[crystal, gaze, luck, amaz, crystal, gaze, luc..."
1496481,"Fifth Aliyah The Fifth Aliyah (, ""HaAliyah Ha...",Fifth Aliyah,1496482,"[fifth, aliyah, fifth, aliyah, haaliyah, haham..."
1496482,"Denys Whitehorn Reid Denys Whitehorn Reid CB,...",Denys Whitehorn Reid,1496483,"[deni, whitehorn, reid, deni, whitehorn, reid,..."
1496483,The Myrtle Beach Herald The Myrtle Beach Hera...,The Myrtle Beach Herald,1496484,"[myrtl, beach, herald, myrtl, beach, herald, w..."

In [34]:
df9.to_csv(r'doc9.csv')

## doc10

In [37]:
%%time
df10['processed_content'] = df10['content'].apply(lambda row: process(row))

CPU times: user 5min 5s, sys: 348 ms, total: 5min 6s
Wall time: 5min 6s

/home/amifaraj/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [38]:
df10.tail()

,content,title,id,processed_content
1662751,Toppr Toppr is a product of Haygot Education ...,Toppr,1662752,"[toppr, toppr, product, haygot, educ, privat, ..."
1662752,Outline of education The following outline is...,Outline of education,1662753,"[outlin, educ, follow, outlin, provid, overvie..."
1662753,Raell Padamsee Raell Padamsee is an Indian th...,Raell Padamsee,1662754,"[raell, padamse, raell, padamse, indian, theat..."
1662754,Megan Callaway Megan Callaway is a founder of...,Megan Callaway,1662755,"[megan, callaway, megan, callaway, founder, ar..."
1662755,Diane Reay Diane Reay is a sociologist and pr...,Diane Reay,1662756,"[dian, reay, dian, reay, sociologist, professo..."

In [39]:
df10.to_csv(r'doc10.csv')

## Final

In [28]:
docs.head()

,content,title,id
0,Morocco–Saudi Arabia relations Moroccan–Saudi...,Morocco–Saudi Arabia relations,1
1,Anthony United States Post Office The Anthony...,Anthony United States Post Office,2
2,Dumraon (Vidhan Sabha constituency) Dumraon V...,Dumraon Vidhan Sabha constituency,3
3,Chaker Khazaal Chaker Khazaal (born 28 Septem...,Chaker Khazaal,4
4,Vicente Pascual Pastor Vicente Pascual Pastor...,Vicente Pascual Pastor,5

In [10]:
#df1 = pd.read_csv('doc1.csv', delimiter=',',encoding='utf-8')
#df2 = pd.read_csv('doc2.csv', delimiter=',',encoding='utf-8')
#df3 = pd.read_csv('doc3.csv', delimiter=',',encoding='utf-8')
#df4 = pd.read_csv('doc4.csv', delimiter=',',encoding='utf-8')
#df5 = pd.read_csv('doc5.csv', delimiter=',',encoding='utf-8')
#df6 = pd.read_csv('doc6.csv', delimiter=',',encoding='utf-8')
#df7 = pd.read_csv('doc7.csv', delimiter=',',encoding='utf-8')
#df8 = pd.read_csv('doc8.csv', delimiter=',',encoding='utf-8')
df9 = pd.read_csv('doc9.csv', delimiter=',',encoding='utf-8')
df10 = pd.read_csv('doc10.csv', delimiter=',',encoding='utf-8')

In [23]:
merge_all = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10]
final_processed = pd.concat(merge_all, ignore_index=True)
final_processed.shape

(1662756, 5)

In [27]:
final_processed = final_processed.drop(columns=['Unnamed: 0'])

In [28]:
docs.head()

,content,title,id
0,Morocco–Saudi Arabia relations\n\nMoroccan–Sau...,Morocco–Saudi_Arabia_relations,1
1,Anthony United States Post Office\n\nThe Antho...,Anthony_United_States_Post_Office,2
2,Dumraon (Vidhan Sabha constituency)\n\nDumraon...,Dumraon__Vidhan_Sabha_constituency_,3
3,Chaker Khazaal\n\nChaker Khazaal (born 28 Sept...,Chaker_Khazaal,4
4,Vicente Pascual Pastor\n\nVicente Pascual Past...,Vicente_Pascual_Pastor,5

In [30]:
final_processed.to_csv(r'Final_proc.csv')
#final_processed.head()

#### little bit data

In [42]:
%%time
docs_sample['processed_content'] = docs_sample['content'].apply(lambda row: process(row))
docs_sample.head()

CPU times: user 9min 24s, sys: 594 ms, total: 9min 25s
Wall time: 9min 25s

In [43]:
docs_sample.head()

,content,title,id,processed_content
913291,"Lee E. Emerson Lee Earl Emerson (December 19,...",Lee E Emerson,913292,"[lee, e, emerson, lee, earl, emerson, decemb, ..."
654631,CovertAction Quarterly CovertAction Quarterly...,CovertAction Quarterly,654632,"[covertact, quarterli, covertact, quarterli, n..."
1111800,"Pietrabruna Pietrabruna is a ""comune"" (munici...",Pietrabruna,1111801,"[pietrabruna, pietrabruna, comun, municip, pro..."
1145240,2006 in Luxembourg The following lists events...,2006 in Luxembourg,1145241,"[2006, luxembourg, follow, list, event, happen..."
794694,Duvbo Duvbo is an upper-middle-class resident...,Duvbo,794695,"[duvbo, duvbo, upper, middl, class, residenti,..."

#### all the data

In [ ]:
%%time
docs['processed_content'] = docs['content'].apply(lambda row: process(row))
docs.head()

## spelling

In [29]:
from autocorrect import spell

In [35]:
w1 = spell('caaaar')
w2 = spell('mussage')
w3 = spell('survice')
w4 = spell('hte')

autocorrect.spell is deprecated, use autocorrect.Speller instead
autocorrect.spell is deprecated, use autocorrect.Speller instead
autocorrect.spell is deprecated, use autocorrect.Speller instead
autocorrect.spell is deprecated, use autocorrect.Speller instead

In [36]:
print(w1)
print(w2)
print(w3)
print(w4)

caesar
message
service
the