In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
all_files = [
    './ql/Clean-Data-01.txt',
    './ql/Clean-Data-02.txt',
    './ql/Clean-Data-03.txt',
    './ql/Clean-Data-04.txt',
    './ql/Clean-Data-05.txt'
]

df = pd.concat((pd.read_csv(f, sep='\t') for f in all_files))

In [3]:
df

,AnonID,Query,QueryTime
0,142,merit release appearance,2006-04-22 23:51:18
1,217,lottery,2006-03-01 11:58:51
2,217,lottery,2006-03-27 14:10:38
3,217,vietnam,2006-05-22 17:43:42
4,217,vietnam,2006-05-22 18:03:24
5,1268,gall stones,2006-05-11 02:12:51
6,1268,gallstones,2006-05-11 02:13:02
7,1326,files,2006-03-01 17:36:08
8,1326,pop up adds,2006-03-15 20:07:38
9,1326,pop up adds,2006-03-15 20:08:29
10,1326,the childs wonderland company,2006-03-21 11:50:10
11,1326,the child's wonderland company,2006-03-21 11:59:03
12,1326,the child's wonderland company,2006-03-21 12:00:55
13,1326,the child's wonderland company grand rapids mi...,2006-03-21 12:01:24
14,1326,budget truck rental,2006-03-24 18:27:07
15,1326,holiday mansion houseboat,2006-03-29 17:14:01
16,1326,back to the future,2006-04-01 17:59:28
17,1326,holiday mansion houseboat,2006-04-06 20:20:43
18,1326,the childs wonderland company,2006-04-11 17:25:27
19,1326,jet blue airlines,2006-04-27 15:29:05
20,1337,select business services,2006-03-14 15:51:41
21,1337,select business services title,2006-03-14 15:52:10
22,1337,cbc companies,2006-03-14 15:52:44
23,1337,national real estate settlement services,2006-03-14 15:59:13
24,1337,pennsylvania real estate settlement services,2006-03-14 16:04:40
25,1337,pennsylvania real estate settlement services,2006-03-14 16:05:11
26,1337,chesapeake appraisal and settlement services,2006-03-15 13:51:52
27,1337,first american lenders advantage,2006-03-22 16:05:56
28,1337,first american chesapeake,2006-03-22 16:11:31
29,1337,first american chesapeake title services,2006-03-22 16:11:50
...,...,...,...
834327,24949536,poland spring water,2006-05-31 07:33:44
834328,24949536,poland spring water,2006-05-31 07:57:44
834329,24949536,poland spring water,2006-05-31 08:17:54
834330,24950004,google,2006-05-31 20:56:12
834331,24951220,my space,2006-05-31 00:39:58
834332,24954268,win for life,2006-05-31 09:44:12
834333,24955108,odd gifts,2006-05-31 06:47:27
834334,24955108,elegant gifts for her,2006-05-31 06:56:10
834335,24956559,used cars,2006-05-31 09:21:53
834336,24956559,kelly blue book,2006-05-31 14:05:12
834337,24956559,kelly blue book,2006-05-31 14:23:07
834338,24956559,kelly blue book,2006-05-31 14:36:23
834339,24956559,kelly blue book,2006-05-31 14:48:57
834340,24956559,kelly blue book,2006-05-31 15:45:57
834341,24956559,long beach acceptance,2006-05-31 21:35:03
834342,24958822,clenbuterol,2006-05-31 03:58:10
834343,24960115,nys lottery,2006-05-31 13:15:09
834344,24960115,mega millions,2006-05-31 13:16:25
834345,24962214,anderson county jail cam,2006-05-31 18:05:23
834346,24962262,omega psi phi,2006-05-31 01:27:11
834347,24962433,lotions and lace,2006-05-31 02:30:10
834348,24962433,rabbit vibrator,2006-05-31 02:31:46
834349,24962433,rabbit vibrator,2006-05-31 02:33:06
834350,24962537,chap hotels,2006-05-31 17:44:50
834351,24963973,clergy vestments,2006-05-31 21:18:12
834352,24963973,united church of christ clergy stoles,2006-05-31 21:54:09
834353,24963973,national cathedral gift store,2006-05-31 21:58:42
834354,24965114,weather,2006-05-31 21:17:04
834355,24965131,dictionary,2006-05-31 22:34:16
834356,24967039,vienna state opera,2006-05-31 13:59:45

In [4]:
# converts a string to a set of words
def make_set(x):
    return set(str(x).split())

# split string, put in set, and then convert again to string
def split_join(x):
    x = set(x.split())
    return ' '.join(x)

In [5]:
# convert QueryTime string to POSIX timestamp
df['QueryTime'] = pd.to_datetime(df['QueryTime'])
df['q_time'] = df['QueryTime'].map(lambda x: x.timestamp())

In [6]:
# convert query strings to sets of words
df['q_split'] = df['Query'].map(lambda x: make_set(x))

In [7]:
# get lengths of queries
df['q_length'] = df['q_split'].map(lambda x: len(x))

In [8]:
# convert set back to string
df['q_split_join'] = df['q_split'].map(lambda x: ' '.join(x))

In [9]:
df

,AnonID,Query,QueryTime,q_time,q_split,q_length,q_split_join
0,142,merit release appearance,2006-04-22 23:51:18,1.145750e+09,"{appearance, release, merit}",3,appearance release merit
1,217,lottery,2006-03-01 11:58:51,1.141214e+09,{lottery},1,lottery
2,217,lottery,2006-03-27 14:10:38,1.143469e+09,{lottery},1,lottery
3,217,vietnam,2006-05-22 17:43:42,1.148320e+09,{vietnam},1,vietnam
4,217,vietnam,2006-05-22 18:03:24,1.148321e+09,{vietnam},1,vietnam
5,1268,gall stones,2006-05-11 02:12:51,1.147314e+09,"{gall, stones}",2,gall stones
6,1268,gallstones,2006-05-11 02:13:02,1.147314e+09,{gallstones},1,gallstones
7,1326,files,2006-03-01 17:36:08,1.141235e+09,{files},1,files
8,1326,pop up adds,2006-03-15 20:07:38,1.142453e+09,"{adds, pop, up}",3,adds pop up
9,1326,pop up adds,2006-03-15 20:08:29,1.142453e+09,"{adds, pop, up}",3,adds pop up
10,1326,the childs wonderland company,2006-03-21 11:50:10,1.142942e+09,"{wonderland, the, company, childs}",4,wonderland the company childs
11,1326,the child's wonderland company,2006-03-21 11:59:03,1.142942e+09,"{child's, wonderland, the, company}",4,child's wonderland the company
12,1326,the child's wonderland company,2006-03-21 12:00:55,1.142942e+09,"{child's, wonderland, the, company}",4,child's wonderland the company
13,1326,the child's wonderland company grand rapids mi...,2006-03-21 12:01:24,1.142942e+09,"{child's, the, grand, rapids, michigan, wonder...",7,child's the grand rapids michigan wonderland c...
14,1326,budget truck rental,2006-03-24 18:27:07,1.143225e+09,"{rental, truck, budget}",3,rental truck budget
15,1326,holiday mansion houseboat,2006-03-29 17:14:01,1.143652e+09,"{holiday, houseboat, mansion}",3,holiday houseboat mansion
16,1326,back to the future,2006-04-01 17:59:28,1.143914e+09,"{the, back, future, to}",4,the back future to
17,1326,holiday mansion houseboat,2006-04-06 20:20:43,1.144355e+09,"{holiday, houseboat, mansion}",3,holiday houseboat mansion
18,1326,the childs wonderland company,2006-04-11 17:25:27,1.144776e+09,"{wonderland, the, company, childs}",4,wonderland the company childs
19,1326,jet blue airlines,2006-04-27 15:29:05,1.146152e+09,"{airlines, jet, blue}",3,airlines jet blue
20,1337,select business services,2006-03-14 15:51:41,1.142352e+09,"{business, select, services}",3,business select services
21,1337,select business services title,2006-03-14 15:52:10,1.142352e+09,"{business, title, select, services}",4,business title select services
22,1337,cbc companies,2006-03-14 15:52:44,1.142352e+09,"{companies, cbc}",2,companies cbc
23,1337,national real estate settlement services,2006-03-14 15:59:13,1.142352e+09,"{real, estate, national, services, settlement}",5,real estate national services settlement
24,1337,pennsylvania real estate settlement services,2006-03-14 16:04:40,1.142352e+09,"{real, estate, services, pennsylvania, settlem...",5,real estate services pennsylvania settlement
25,1337,pennsylvania real estate settlement services,2006-03-14 16:05:11,1.142352e+09,"{real, estate, services, pennsylvania, settlem...",5,real estate services pennsylvania settlement
26,1337,chesapeake appraisal and settlement services,2006-03-15 13:51:52,1.142431e+09,"{appraisal, chesapeake, services, and, settlem...",5,appraisal chesapeake services and settlement
27,1337,first american lenders advantage,2006-03-22 16:05:56,1.143044e+09,"{lenders, american, advantage, first}",4,lenders american advantage first
28,1337,first american chesapeake,2006-03-22 16:11:31,1.143044e+09,"{american, chesapeake, first}",3,american chesapeake first
29,1337,first american chesapeake title services,2006-03-22 16:11:50,1.143044e+09,"{first, title, american, chesapeake, services}",5,first title american chesapeake services
...,...,...,...,...,...,...,...
834327,24949536,poland spring water,2006-05-31 07:33:44,1.149061e+09,"{poland, spring, water}",3,poland spring water
834328,24949536,poland spring water,2006-05-31 07:57:44,1.149062e+09,"{poland, spring, water}",3,poland spring water
834329,24949536,poland spring water,2006-05-31 08:17:54,1.149063e+09,"{poland, spring, water}",3,poland spring water
834330,24950004,google,2006-05-31 20:56:12,1.149109e+09,{google},1,google
834331,24951220,my space,2006-05-31 00:39:58,1.149036e+09,"{space, my}",2,space my
834332,24954268,win for life,2006-05-31 09:44:12,1.149069e+09,"{win, life, for}",3,win life for
834333,24955108,odd gifts,2006-05-31 06:47:27,1.149058e+09,"{odd, gifts}",2,odd gifts
834334,24955108,elegant gifts for her,2006-05-31 06:56:10,1.149059e+09,"{elegant, her, for, gifts}",4,elegant her for gifts
834335,24956559,used cars,2006-05-31 09:21:53,1.149067e+09,"{used, cars}",2,used cars
834336,24956559,kelly blue book,2006-05-31 14:05:12,1.149084e+09,"{kelly, blue, book}",3,kelly blue book
834337,24956559,kelly blue book,2006-05-31 14:23:07,1.149085e+09,"{kelly, blue, book}",3,kelly blue book
834338,24956559,kelly blue book,2006-05-31 14:36:23,1.149086e+09,"{kelly, blue, book}",3,kelly blue book
834339,24956559,kelly blue book,2006-05-31 14:48:57,1.149087e+09,"{kelly, blue, book}",3,kelly blue book
834340,24956559,kelly blue book,2006-05-31 15:45:57,1.149090e+09,"{kelly, blue, book}",3,kelly blue book
834341,24956559,long beach acceptance,2006-05-31 21:35:03,1.149111e+09,"{long, acceptance, beach}",3,long acceptance beach
834342,24958822,clenbuterol,2006-05-31 03:58:10,1.149048e+09,{clenbuterol},1,clenbuterol
834343,24960115,nys lottery,2006-05-31 13:15:09,1.149081e+09,"{nys, lottery}",2,nys lottery
834344,24960115,mega millions,2006-05-31 13:16:25,1.149081e+09,"{millions, mega}",2,millions mega
834345,24962214,anderson county jail cam,2006-05-31 18:05:23,1.149099e+09,"{jail, anderson, county, cam}",4,jail anderson county cam
834346,24962262,omega psi phi,2006-05-31 01:27:11,1.149039e+09,"{psi, omega, phi}",3,psi omega phi
834347,24962433,lotions and lace,2006-05-31 02:30:10,1.149043e+09,"{and, lace, lotions}",3,and lace lotions
834348,24962433,rabbit vibrator,2006-05-31 02:31:46,1.149043e+09,"{vibrator, rabbit}",2,vibrator rabbit
834349,24962433,rabbit vibrator,2006-05-31 02:33:06,1.149043e+09,"{vibrator, rabbit}",2,vibrator rabbit
834350,24962537,chap hotels,2006-05-31 17:44:50,1.149097e+09,"{hotels, chap}",2,hotels chap
834351,24963973,clergy vestments,2006-05-31 21:18:12,1.149110e+09,"{clergy, vestments}",2,clergy vestments
834352,24963973,united church of christ clergy stoles,2006-05-31 21:54:09,1.149112e+09,"{stoles, christ, united, of, clergy, church}",6,stoles christ united of clergy church
834353,24963973,national cathedral gift store,2006-05-31 21:58:42,1.149113e+09,"{cathedral, store, gift, national}",4,cathedral store gift national
834354,24965114,weather,2006-05-31 21:17:04,1.149110e+09,{weather},1,weather
834355,24965131,dictionary,2006-05-31 22:34:16,1.149115e+09,{dictionary},1,dictionary
834356,24967039,vienna state opera,2006-05-31 13:59:45,1.149084e+09,"{state, opera, vienna}",3,state opera vienna

### Candidate queries

In [10]:
# gets candidate queries and the sessions where those candidate queries occur
def get_sessions(q):
    # find indeces where the user's query is part of a query in the query log, and apply to dataframe
    df_criterion = df['q_split'].map(lambda x: q.issubset(x) and len(x) == (len(q)+1))
    qdf = df[df_criterion]
    # return searches in same session as the query, and candidate queries
    return df[df.AnonID.isin(qdf.AnonID.values)], qdf

### Freq(CQ)
frequency of CQ in QL / max freq of any query in QL

In [11]:
def calc_frequencies():
#     df_gb = df.groupby(['Query'])
#     df_freq = pd.DataFrame(df_gb.count()['q_length'])
    df_freq = pd.DataFrame(df.groupby(['Query'])['q_length'].count())
    # TODO: do log?
    max_freq = df_freq['q_length'].sort_values(ascending=False)[0]
    df_freq['freq'] = df_freq['q_length'].map(lambda x: x/max_freq)
    return df_freq['freq']

In [12]:
def freq(CQ):
    return frequencies.loc[CQ]

### Mod(CQ,q')
num sessions q' is modified to CQ / num sessions q' appears in QL

In [13]:
# gets the indeces of the query in the sessions
def get_qsessions(q):
    s_criterion = sessions['q_split'].map(lambda x: x == q)
    q_sessions = sessions[s_criterion]
    return q_sessions

In [14]:
def mod(CQ, q):
    
    # split candidate string, put in set, and then convert to string
    CQ = split_join(CQ)
    
    # get the indeces of the query in the sessions
    q_sessions = get_qsessions(q)
    q_index = q_sessions.index
    
    # num sessions q' is modified to CQ
    # TODO: per-session instead
    mod_count = 0
    for i in q_index:
#         if sessions['q_split'].loc[i+1]  == CQ:
        if sessions['q_split_join'].loc[i+1]  == CQ:
            mod_count += 1

    # num sessions q' appears in QL
#     s_gb = q_sessions[['Query', 'AnonID']].groupby(['Query']).nunique()
#     s_gb = df[['Query', 'AnonID']].groupby(['Query']).nunique()
#     q_count = s_gb.count()[0]
    q_count = q_num_count
    
    return mod_count / q_count

### Time(CQ,q')
min diff between times of q' and CQ in sessions / length of longest session in QL

In [15]:
# get length of longest session in QL
def get_max_time():
    session_lengths = df.groupby('AnonID')['q_time'].agg(np.ptp)
    return session_lengths.sort_values(ascending=False).iloc[0]

In [16]:
def time(CQ, q):
    CQ = split_join(CQ)
    q_sessions = get_qsessions(q)
    q_index = q_sessions.index
    min_time = 0 # in seconds
    for i in q_index:
        if sessions['q_split_join'].loc[i+1]  == CQ:
            time_range = sessions['q_time'].loc[i+1] - sessions['q_time'].loc[i]
            if time_range < min_time or min_time == 0:
                min_time = time_range
    return min_time

### Score(CQ,q')
(Freq(CQ) + Mod(CQ,q') + Time(CQ,q')) / (1 - Min{Freq(CQ,q'), Mod(CQ,q'), Time(CQ,q'))

In [40]:
def score(CQ, q):
    fr = freq(CQ)
    mo = mod(CQ, q)
    ti = time(CQ, q)
    print(CQ)
    print('(', fr, '+', mo, '+', ti, ') / (1 -', min(fr, mo, ti),')')
    return (fr + mo + ti) / (1 - min(fr, mo, ti))

### Get query suggestions

In [18]:
query = ['make', 'money']
query = set(query)

In [19]:
print('calculating all frequencies...')
frequencies = calc_frequencies()

calculating all frequencies...

In [20]:
print('getting max session length...')
max_session_length = get_max_time()

getting max session length...

/home/stacyblack/.local/bin/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [21]:
print('getting sessions and candidates...')
sessions, candidates = get_sessions(query)

getting sessions and candidates...

In [22]:
print('getting num sessions where q appears...')
s_gb = df[['Query', 'AnonID']].groupby(['Query']).nunique()
q_num_count = s_gb.count()[0]

getting num sessions where q appears...

In [23]:
candidates

,AnonID,Query,QueryTime,q_time,q_split,q_length,q_split_join
50523,543587,make money surfing,2006-04-21 16:03:10,1.145635e+09,"{money, surfing, make}",3,money surfing make
150956,1714713,make money fast,2006-03-30 16:13:32,1.143735e+09,"{money, make, fast}",3,money make fast
166439,1863035,make easy money,2006-03-01 01:58:38,1.141178e+09,"{money, easy, make}",3,money easy make
166460,1863035,make money fast,2006-03-11 23:24:06,1.142119e+09,"{money, make, fast}",3,money make fast
269525,2983651,make money ideas,2006-03-10 10:29:50,1.141987e+09,"{money, make, ideas}",3,money make ideas
285084,3151268,make money now,2006-03-26 15:54:41,1.143388e+09,"{money, now, make}",3,money now make
434301,5673422,make money overnight,2006-05-08 20:00:51,1.147118e+09,"{money, make, overnight}",3,money make overnight
468840,6458100,make fast money,2006-04-06 15:09:54,1.144336e+09,"{money, make, fast}",3,money make fast
527702,8112331,make money fast,2006-05-11 18:41:27,1.147373e+09,"{money, make, fast}",3,money make fast
602489,10792134,make money fast,2006-04-26 18:47:34,1.146077e+09,"{money, make, fast}",3,money make fast
602490,10792134,make money fast,2006-04-26 18:49:26,1.146077e+09,"{money, make, fast}",3,money make fast
746019,22440140,make money fast,2006-05-15 17:54:09,1.147716e+09,"{money, make, fast}",3,money make fast
4066,38752,make money fast,2006-03-12 20:36:14,1.142196e+09,"{money, make, fast}",3,money make fast
121867,1372844,make money easy,2006-04-26 09:26:48,1.146044e+09,"{money, easy, make}",3,money easy make
242898,2684418,make fast money,2006-03-08 13:22:24,1.141824e+09,"{money, make, fast}",3,money make fast
242900,2684418,make fast money,2006-03-09 14:45:10,1.141916e+09,"{money, make, fast}",3,money make fast
250569,2766248,make money fast,2006-05-12 11:59:04,1.147435e+09,"{money, make, fast}",3,money make fast
250570,2766248,make money fast,2006-05-12 12:01:15,1.147435e+09,"{money, make, fast}",3,money make fast
250571,2766248,make money fast,2006-05-12 12:03:03,1.147435e+09,"{money, make, fast}",3,money make fast
321078,3557272,make money fast,2006-03-14 14:53:37,1.142348e+09,"{money, make, fast}",3,money make fast
250875,2679083,make more money,2006-03-14 20:05:16,1.142367e+09,"{money, more, make}",3,money more make
739808,18060438,make money fast,2006-04-28 10:53:52,1.146222e+09,"{money, make, fast}",3,money make fast
739809,18060438,make money fast,2006-04-28 10:54:07,1.146222e+09,"{money, make, fast}",3,money make fast
739826,18060438,make money overnight,2006-05-10 23:57:16,1.147305e+09,"{money, make, overnight}",3,money make overnight
8603,80177,make money fast,2006-03-25 20:06:52,1.143317e+09,"{money, make, fast}",3,money make fast
362579,4269719,make money fast,2006-03-11 13:53:22,1.142085e+09,"{money, make, fast}",3,money make fast
362580,4269719,make money fast,2006-03-11 14:45:56,1.142088e+09,"{money, make, fast}",3,money make fast
387065,4699258,make money fast,2006-03-08 17:23:09,1.141839e+09,"{money, make, fast}",3,money make fast
387341,4703616,make easy money,2006-05-27 18:01:12,1.148753e+09,"{money, easy, make}",3,money easy make
527295,7630954,make money now,2006-03-05 14:05:07,1.141568e+09,"{money, now, make}",3,money now make
743711,18832242,make money writing,2006-05-29 13:10:44,1.148908e+09,"{money, writing, make}",3,money writing make
749380,19750381,make money fast,2006-05-26 14:59:04,1.148656e+09,"{money, make, fast}",3,money make fast
749381,19750381,make money fast,2006-05-26 15:00:21,1.148656e+09,"{money, make, fast}",3,money make fast
759288,21316809,make money free,2006-05-19 01:08:16,1.148001e+09,"{free, money, make}",3,free money make
759291,21316809,make free money,2006-05-19 02:37:35,1.148006e+09,"{free, money, make}",3,free money make
160867,979144,make money survey,2006-04-08 17:52:43,1.144519e+09,"{money, survey, make}",3,money survey make
160874,979144,make money survey,2006-04-16 20:03:48,1.145218e+09,"{money, survey, make}",3,money survey make
160875,979144,make money survey,2006-04-16 20:04:03,1.145218e+09,"{money, survey, make}",3,money survey make
188426,1294923,make money fast,2006-05-29 16:48:10,1.148921e+09,"{money, make, fast}",3,money make fast
195115,1370926,make money instantly,2006-04-03 02:25:56,1.144031e+09,"{money, make, instantly}",3,money make instantly
490645,5410816,merchandise make money,2006-03-10 00:45:03,1.141952e+09,"{merchandise, money, make}",3,merchandise money make

In [43]:
sessions[sessions['AnonID'] == 1863035]

,AnonID,Query,QueryTime,q_time,q_split,q_length,q_split_join
166436,1863035,make money,2006-03-01 01:07:18,1.141175e+09,"{money, make}",2,money make
166437,1863035,make money,2006-03-01 01:51:15,1.141178e+09,"{money, make}",2,money make
166438,1863035,make money,2006-03-01 01:54:18,1.141178e+09,"{money, make}",2,money make
166439,1863035,make easy money,2006-03-01 01:58:38,1.141178e+09,"{money, easy, make}",3,money easy make
166440,1863035,shareware,2006-03-01 02:07:28,1.141179e+09,{shareware},1,shareware
166441,1863035,breast,2006-03-02 23:36:31,1.141343e+09,{breast},1,breast
166442,1863035,high school basketball,2006-03-02 23:58:33,1.141344e+09,"{high, school, basketball}",3,high school basketball
166443,1863035,atlanta high school basketball,2006-03-03 00:03:52,1.141344e+09,"{high, atlanta, school, basketball}",4,high atlanta school basketball
166444,1863035,real estate broad,2006-03-04 11:57:15,1.141473e+09,"{estate, broad, real}",3,estate broad real
166445,1863035,real estate contract,2006-03-04 11:58:38,1.141474e+09,"{estate, contract, real}",3,estate contract real
166446,1863035,fulton county employment,2006-03-05 14:46:58,1.141570e+09,"{employment, county, fulton}",3,employment county fulton
166447,1863035,city of atlanta employment,2006-03-05 14:53:07,1.141570e+09,"{of, employment, atlanta, city}",4,of employment atlanta city
166448,1863035,newsgroup magazine employment,2006-03-05 16:35:36,1.141577e+09,"{newsgroup, employment, magazine}",3,newsgroup employment magazine
166449,1863035,newsgroup,2006-03-05 16:37:31,1.141577e+09,{newsgroup},1,newsgroup
166450,1863035,yahoo,2006-03-05 16:37:55,1.141577e+09,{yahoo},1,yahoo
166451,1863035,newsgroup magazine employment,2006-03-05 16:38:13,1.141577e+09,"{newsgroup, employment, magazine}",3,newsgroup employment magazine
166452,1863035,newsgroup,2006-03-05 16:38:51,1.141577e+09,{newsgroup},1,newsgroup
166453,1863035,magazines companies in atlanta,2006-03-05 16:40:07,1.141577e+09,"{magazines, companies, atlanta, in}",4,magazines companies atlanta in
166454,1863035,mega millions results,2006-03-05 16:41:47,1.141577e+09,"{millions, results, mega}",3,millions results mega
166455,1863035,autopilot,2006-03-10 00:46:49,1.141952e+09,{autopilot},1,autopilot
166456,1863035,autopilot real estate,2006-03-10 00:47:24,1.141952e+09,"{autopilot, estate, real}",3,autopilot estate real
166457,1863035,autopilot real estate,2006-03-10 01:10:50,1.141953e+09,"{autopilot, estate, real}",3,autopilot estate real
166458,1863035,autopilot real estate,2006-03-10 01:11:34,1.141953e+09,"{autopilot, estate, real}",3,autopilot estate real
166459,1863035,no limits no excuses,2006-03-10 12:57:06,1.141995e+09,"{excuses, limits, no}",3,excuses limits no
166460,1863035,make money fast,2006-03-11 23:24:06,1.142119e+09,"{money, make, fast}",3,money make fast
166461,1863035,city of atlanta employment,2006-03-30 13:40:13,1.143726e+09,"{of, employment, atlanta, city}",4,of employment atlanta city
166462,1863035,fulton county employment,2006-03-30 14:04:06,1.143727e+09,"{employment, county, fulton}",3,employment county fulton
166463,1863035,brokers for retailers,2006-03-30 14:30:23,1.143729e+09,"{for, brokers, retailers}",3,for brokers retailers
166464,1863035,international kids clothing buyers retailers,2006-03-30 14:31:28,1.143729e+09,"{retailers, clothing, international, buyers, k...",5,retailers clothing international buyers kids
166465,1863035,yahoo,2006-03-30 14:34:42,1.143729e+09,{yahoo},1,yahoo
166466,1863035,google,2006-03-30 14:41:43,1.143730e+09,{google},1,google
166467,1863035,quick time,2006-05-04 00:23:13,1.146702e+09,"{quick, time}",2,quick time
166468,1863035,portable cell phone charger,2006-05-10 23:13:06,1.147303e+09,"{cell, phone, portable, charger}",4,cell phone portable charger
166469,1863035,atlanta advertiser,2006-05-16 01:10:09,1.147742e+09,"{advertiser, atlanta}",2,advertiser atlanta
166470,1863035,atlanta advertiser magazine,2006-05-16 01:17:34,1.147742e+09,"{advertiser, magazine, atlanta}",3,advertiser magazine atlanta
166471,1863035,city of atlanta,2006-05-18 00:37:38,1.147913e+09,"{of, atlanta, city}",3,of atlanta city
166472,1863035,how to file a lien in ga,2006-05-18 00:44:39,1.147913e+09,"{a, ga, lien, how, in, file, to}",7,a ga lien how in file to
166473,1863035,private lender,2006-05-28 00:46:36,1.148777e+09,"{lender, private}",2,lender private
166474,1863035,houston news papers,2006-05-29 22:22:32,1.148941e+09,"{news, houston, papers}",3,news houston papers
166475,1863035,houston newspapers,2006-05-30 00:41:04,1.148950e+09,"{houston, newspapers}",2,houston newspapers

In [24]:
score('make money fast', query)

0.00023901430500615462

In [41]:
# get top 5 query suggestions
def get_top_5(cand, q):
    
    q = set(q)
    
#     print('getting sessions and candidates...')
    # searches in same session as the query, and candidate queries
#     sessions, candidates = get_sessions(q)
    
#     print('calculating all frequencies...')
#     frequencies = calc_freqencies()
#     max_session_length = get_max_time()
    
    cand['score'] = cand['Query'].map(lambda x: score(x, q))
    cand = cand.sort_values(by='score', ascending=False)
    print(pd.DataFrame(cand))
    # drop query suggestions that are duplicates (just different arrangement of words)
    top_5 = cand.drop_duplicates(subset='q_split_join')
    print(pd.DataFrame(top_5))
    if len(top_5) >= 5:
        top_5 = top_5[:5]
    return top_5['Query'].values

In [42]:
top_5 = get_top_5(candidates, query)

make money surfing
( 1.1950715250307731e-05 + 0.0 + 0 ) / (1 - 0.0 )
make money fast
( 0.00023901430500615462 + 0.0 + 0 ) / (1 - 0.0 )
make easy money
( 2.3901430500615462e-05 + 6.01659376560554e-07 + 260.0 ) / (1 - 6.01659376560554e-07 )
make money fast
( 0.00023901430500615462 + 0.0 + 0 ) / (1 - 0.0 )
make money ideas
( 1.1950715250307731e-05 + 0.0 + 0 ) / (1 - 0.0 )
make money now
( 2.3901430500615462e-05 + 0.0 + 0 ) / (1 - 0.0 )
make money overnight
( 2.3901430500615462e-05 + 0.0 + 0 ) / (1 - 0.0 )
make fast money
( 3.5852145750923193e-05 + 0.0 + 0 ) / (1 - 0.0 )
make money fast
( 0.00023901430500615462 + 0.0 + 0 ) / (1 - 0.0 )
make money fast
( 0.00023901430500615462 + 0.0 + 0 ) / (1 - 0.0 )
make money fast
( 0.00023901430500615462 + 0.0 + 0 ) / (1 - 0.0 )
make money fast
( 0.00023901430500615462 + 0.0 + 0 ) / (1 - 0.0 )
make money fast
( 0.00023901430500615462 + 0.0 + 0 ) / (1 - 0.0 )
make money easy
( 1.1950715250307731e-05 + 6.01659376560554e-07 + 260.0 ) / (1 - 6.01659376560554e-07 )
make fast money
( 3.5852145750923193e-05 + 0.0 + 0 ) / (1 - 0.0 )
make fast money
( 3.5852145750923193e-05 + 0.0 + 0 ) / (1 - 0.0 )
make money fast
( 0.00023901430500615462 + 0.0 + 0 ) / (1 - 0.0 )
make money fast
( 0.00023901430500615462 + 0.0 + 0 ) / (1 - 0.0 )
make money fast
( 0.00023901430500615462 + 0.0 + 0 ) / (1 - 0.0 )
make money fast
( 0.00023901430500615462 + 0.0 + 0 ) / (1 - 0.0 )
make more money
( 1.1950715250307731e-05 + 0.0 + 0 ) / (1 - 0.0 )
make money fast
( 0.00023901430500615462 + 0.0 + 0 ) / (1 - 0.0 )
make money fast
( 0.00023901430500615462 + 0.0 + 0 ) / (1 - 0.0 )
make money overnight
( 2.3901430500615462e-05 + 0.0 + 0 ) / (1 - 0.0 )
make money fast
( 0.00023901430500615462 + 0.0 + 0 ) / (1 - 0.0 )
make money fast
( 0.00023901430500615462 + 0.0 + 0 ) / (1 - 0.0 )
make money fast
( 0.00023901430500615462 + 0.0 + 0 ) / (1 - 0.0 )
make money fast
( 0.00023901430500615462 + 0.0 + 0 ) / (1 - 0.0 )
make easy money
( 2.3901430500615462e-05 + 6.01659376560554e-07 + 260.0 ) / (1 - 6.01659376560554e-07 )
make money now
( 2.3901430500615462e-05 + 0.0 + 0 ) / (1 - 0.0 )
make money writing
( 1.1950715250307731e-05 + 0.0 + 0 ) / (1 - 0.0 )
make money fast
( 0.00023901430500615462 + 0.0 + 0 ) / (1 - 0.0 )
make money fast
( 0.00023901430500615462 + 0.0 + 0 ) / (1 - 0.0 )
make money free
( 1.1950715250307731e-05 + 0.0 + 0 ) / (1 - 0.0 )
make free money
( 1.1950715250307731e-05 + 0.0 + 0 ) / (1 - 0.0 )
make money survey
( 3.5852145750923193e-05 + 0.0 + 0 ) / (1 - 0.0 )
make money survey
( 3.5852145750923193e-05 + 0.0 + 0 ) / (1 - 0.0 )
make money survey
( 3.5852145750923193e-05 + 0.0 + 0 ) / (1 - 0.0 )
make money fast
( 0.00023901430500615462 + 0.0 + 0 ) / (1 - 0.0 )
make money instantly
( 1.1950715250307731e-05 + 0.0 + 0 ) / (1 - 0.0 )
merchandise make money
( 1.1950715250307731e-05 + 0.0 + 0 ) / (1 - 0.0 )
          AnonID                   Query           QueryTime        q_time  \
166439   1863035         make easy money 2006-03-01 01:58:38  1.141178e+09
387341   4703616         make easy money 2006-05-27 18:01:12  1.148753e+09
121867   1372844         make money easy 2006-04-26 09:26:48  1.146044e+09
250570   2766248         make money fast 2006-05-12 12:01:15  1.147435e+09
739809  18060438         make money fast 2006-04-28 10:54:07  1.146222e+09
739808  18060438         make money fast 2006-04-28 10:53:52  1.146222e+09
150956   1714713         make money fast 2006-03-30 16:13:32  1.143735e+09
321078   3557272         make money fast 2006-03-14 14:53:37  1.142348e+09
250571   2766248         make money fast 2006-05-12 12:03:03  1.147435e+09
362580   4269719         make money fast 2006-03-11 14:45:56  1.142088e+09
250569   2766248         make money fast 2006-05-12 11:59:04  1.147435e+09
387065   4699258         make money fast 2006-03-08 17:23:09  1.141839e+09
4066       38752         make money fast 2006-03-12 20:36:14  1.142196e+09
8603       80177         make money fast 2006-03-25 20:06:52  1.143317e+09
746019  22440140         make money fast 2006-05-15 17:54:09  1.147716e+09
602490  10792134         make money fast 2006-04-26 18:49:26  1.146077e+09
602489  10792134         make money fast 2006-04-26 18:47:34  1.146077e+09
527702   8112331         make money fast 2006-05-11 18:41:27  1.147373e+09
188426   1294923         make money fast 2006-05-29 16:48:10  1.148921e+09
749380  19750381         make money fast 2006-05-26 14:59:04  1.148656e+09
749381  19750381         make money fast 2006-05-26 15:00:21  1.148656e+09
166460   1863035         make money fast 2006-03-11 23:24:06  1.142119e+09
362579   4269719         make money fast 2006-03-11 13:53:22  1.142085e+09
160875    979144       make money survey 2006-04-16 20:04:03  1.145218e+09
160874    979144       make money survey 2006-04-16 20:03:48  1.145218e+09
160867    979144       make money survey 2006-04-08 17:52:43  1.144519e+09
242900   2684418         make fast money 2006-03-09 14:45:10  1.141916e+09
242898   2684418         make fast money 2006-03-08 13:22:24  1.141824e+09
468840   6458100         make fast money 2006-04-06 15:09:54  1.144336e+09
739826  18060438    make money overnight 2006-05-10 23:57:16  1.147305e+09
527295   7630954          make money now 2006-03-05 14:05:07  1.141568e+09
434301   5673422    make money overnight 2006-05-08 20:00:51  1.147118e+09
285084   3151268          make money now 2006-03-26 15:54:41  1.143388e+09
195115   1370926    make money instantly 2006-04-03 02:25:56  1.144031e+09
50523     543587      make money surfing 2006-04-21 16:03:10  1.145635e+09
250875   2679083         make more money 2006-03-14 20:05:16  1.142367e+09
759291  21316809         make free money 2006-05-19 02:37:35  1.148006e+09
759288  21316809         make money free 2006-05-19 01:08:16  1.148001e+09
743711  18832242      make money writing 2006-05-29 13:10:44  1.148908e+09
269525   2983651        make money ideas 2006-03-10 10:29:50  1.141987e+09
490645   5410816  merchandise make money 2006-03-10 00:45:03  1.141952e+09

                           q_split  q_length            q_split_join  \
166439         {money, easy, make}         3         money easy make
387341         {money, easy, make}         3         money easy make
121867         {money, easy, make}         3         money easy make
250570         {money, make, fast}         3         money make fast
739809         {money, make, fast}         3         money make fast
739808         {money, make, fast}         3         money make fast
150956         {money, make, fast}         3         money make fast
321078         {money, make, fast}         3         money make fast
250571         {money, make, fast}         3         money make fast
362580         {money, make, fast}         3         money make fast
250569         {money, make, fast}         3         money make fast
387065         {money, make, fast}         3         money make fast
4066           {money, make, fast}         3         money make fast
8603           {money, make, fast}         3         money make fast
746019         {money, make, fast}         3         money make fast
602490         {money, make, fast}         3         money make fast
602489         {money, make, fast}         3         money make fast
527702         {money, make, fast}         3         money make fast
188426         {money, make, fast}         3         money make fast
749380         {money, make, fast}         3         money make fast
749381         {money, make, fast}         3         money make fast
166460         {money, make, fast}         3         money make fast
362579         {money, make, fast}         3         money make fast
160875       {money, survey, make}         3       money survey make
160874       {money, survey, make}         3       money survey make
160867       {money, survey, make}         3       money survey make
242900         {money, make, fast}         3         money make fast
242898         {money, make, fast}         3         money make fast
468840         {money, make, fast}         3         money make fast
739826    {money, make, overnight}         3    money make overnight
527295          {money, now, make}         3          money now make
434301    {money, make, overnight}         3    money make overnight
285084          {money, now, make}         3          money now make
195115    {money, make, instantly}         3    money make instantly
50523       {money, surfing, make}         3      money surfing make
250875         {money, more, make}         3         money more make
759291         {free, money, make}         3         free money make
759288         {free, money, make}         3         free money make
743711      {money, writing, make}         3      money writing make
269525        {money, make, ideas}         3        money make ideas
490645  {merchandise, money, make}         3  merchandise money make

             score
166439  260.000181
387341  260.000181
121867  260.000169
250570    0.000239
739809    0.000239
739808    0.000239
150956    0.000239
321078    0.000239
250571    0.000239
362580    0.000239
250569    0.000239
387065    0.000239
4066      0.000239
8603      0.000239
746019    0.000239
602490    0.000239
602489    0.000239
527702    0.000239
188426    0.000239
749380    0.000239
749381    0.000239
166460    0.000239
362579    0.000239
160875    0.000036
160874    0.000036
160867    0.000036
242900    0.000036
242898    0.000036
468840    0.000036
739826    0.000024
527295    0.000024
434301    0.000024
285084    0.000024
195115    0.000012
50523     0.000012
250875    0.000012
759291    0.000012
759288    0.000012
743711    0.000012
269525    0.000012
490645    0.000012
          AnonID                   Query           QueryTime        q_time  \
166439   1863035         make easy money 2006-03-01 01:58:38  1.141178e+09
250570   2766248         make money fast 2006-05-12 12:01:15  1.147435e+09
160875    979144       make money survey 2006-04-16 20:04:03  1.145218e+09
739826  18060438    make money overnight 2006-05-10 23:57:16  1.147305e+09
527295   7630954          make money now 2006-03-05 14:05:07  1.141568e+09
195115   1370926    make money instantly 2006-04-03 02:25:56  1.144031e+09
50523     543587      make money surfing 2006-04-21 16:03:10  1.145635e+09
250875   2679083         make more money 2006-03-14 20:05:16  1.142367e+09
759291  21316809         make free money 2006-05-19 02:37:35  1.148006e+09
743711  18832242      make money writing 2006-05-29 13:10:44  1.148908e+09
269525   2983651        make money ideas 2006-03-10 10:29:50  1.141987e+09
490645   5410816  merchandise make money 2006-03-10 00:45:03  1.141952e+09

                           q_split  q_length            q_split_join  \
166439         {money, easy, make}         3         money easy make
250570         {money, make, fast}         3         money make fast
160875       {money, survey, make}         3       money survey make
739826    {money, make, overnight}         3    money make overnight
527295          {money, now, make}         3          money now make
195115    {money, make, instantly}         3    money make instantly
50523       {money, surfing, make}         3      money surfing make
250875         {money, more, make}         3         money more make
759291         {free, money, make}         3         free money make
743711      {money, writing, make}         3      money writing make
269525        {money, make, ideas}         3        money make ideas
490645  {merchandise, money, make}         3  merchandise money make

             score
166439  260.000181
250570    0.000239
160875    0.000036
739826    0.000024
527295    0.000024
195115    0.000012
50523     0.000012
250875    0.000012
759291    0.000012
743711    0.000012
269525    0.000012
490645    0.000012

/home/stacyblack/.local/bin/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [39]:
top_5

array(['make easy money', 'make money fast', 'make money survey',
       'make money overnight', 'make money now'], dtype=object)

In [30]:
list(top_5)

['make easy money',
 'make money fast',
 'make money survey',
 'make money overnight',
 'make money now']